/* Corps de la page */
body {
  background-color: #0d1117;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrer verticalement */
  align-items: center; /* Centrer horizontalement */
  height: 100vh; /* Utiliser toute la hauteur de la fenêtre */
  overflow: hidden; /* Empêche les barres de défilement */
}

/* Titre principal */
h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  z-index: 10;
  transition: transform 0.3s ease, color 0.3s ease; /* Transition fluide */
}

/* Effet au survol du titre */
h1:hover {
  transform: scale(1.1) rotate(5deg); /* Agrandir et faire pivoter légèrement */
  color: #ff007f; /* Changer la couleur du texte au survol */
}

/* Bloc du lien */
.links {
  margin: 20px 0;
  z-index: 10;
}

/* Bouton Telegram */
.links a {
  background-image: linear-gradient(45deg, #ff007f, #7f00ff, #00bfff, #00ff7f);
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 1.5rem;
  border-radius: 10px;
  display: inline-block;
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
  z-index: 10;
  transition: background-color 0.3s ease;
}

/* Animation de dégradé de couleur */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Effet au survol du bouton */
.links a:hover {
  background-color: #1b7cab;
}
